/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-dic-2016, 12:59:40
    Author     : pasito
*/

#header{
    position: absolute;
    margin-left: 87%;
    margin-top: -250px;
}
* {
    margin:0px;
    padding:0px;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}
.nav li a {
    background-color:#2175bc;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    width: 100px;
}
.nav li input {
    background-color:#2175bc;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    width: 100px;
}
.nav li a:hover {
    background-color:#2586d7;
}
.nav li input:hover {
    background-color:#2586d7;
}
.nav li ul {
    display:none;
    position:absolute;
    min-width:100px;
}
.nav li:hover > ul {
    display:block;
}
.nav li ul li {
    position:relative;
}
#tabla2 {
    margin: 0 auto;
    border-collapse:collapse;
    background-color:#EFF4FB;
    border-left:1px solid #686868;
    border-right:1px solid #686868;
    font:0.8em/145% 'Trebuchet MS',helvetica,arial,verdana;
    color: #333;
}
#tabla2 td, #tabla2 th {
    padding: 5px;
    text-align: center;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    color: red;
}
#tabla1{
    margin-top: 150px;
    padding-top: 15px;
    margin: 0 auto;
    width: 350px;
    height: 150px;
    background-color: white;
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 3px solid #00496B;
    border-radius: 20px;
}
#tabla1 th{
    color: #00496B; 
    font-size: 15px;
    font-weight: normal;
}
strong{
   font-size: 20px;
}
img{
    width: 75px;
    height: 75px;
}